body {
	background: url(rabstol_net_rammstein_06.jpg) center no-repeat fixed;
	width: 99%;
}

.btn {
   width: 100px;
	margin-top:555px;
    font-size: 18px;
    padding: 10px;
    border: 3px solid white;
    background: #000;
    color: FFFFFF;
    cursor: pointer;
	position: relative;
    left: 0%;
	top: -7%;
    transform: translate(-50%, 0);
}

  .btn1 {
   width: 100px;
	margin-top:555px;
    font-size: 18px;
    padding: 10px;
    border: 3px solid white;
    background: #000;
    color: FFFFFF;
    cursor: pointer;
	position: relative;
    left: 25%;
	top: -5%;
    transform: translate(-50%, 0);
}

.btn2 {
   width: 100px;
	margin-top:555px;
    font-size: 18px;
    padding: 10px;
    border: 3px solid white;
    background: #000;
    color: FFFFFF;
    cursor: pointer;
	position: relative;
    left: 686px;
	top: -5%;
    transform: translate(-50%, 0);
}

table {
    width: 300px; /* Ширина таблицы */
    border: 3px solid #d1c7c7; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
	color: dark
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
	background: #d1c7c7;
	}